fail_fast: false
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
      - id: ruff-format
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
        exclude: ^zmk/templates
      - id: check-added-large-files
      - id: check-shebang-scripts-are-executable
  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: v0.7.32
    hooks:
      - id: tombi-format
      - id: tombi-lint
