[project]
name = "zmk"
description = "A command line program to help set up ZMK Firmware"
readme = "README.md"
license = { file = "LICENSE" }
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Intended Audience :: End Users/Desktop",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Topic :: Software Development",
    "Topic :: Utilities",
]
requires-python = ">=3.10"
dependencies = [
    "backports.strenum; python_version < '3.11'",
    "dacite >= 1.8.1, < 2.0.0",
    "mako >= 1.3.3, < 2.0.0",
    "rich >= 13.6.0, < 14.0.0",
    "ruamel.yaml >= 0.18.6, < 0.19.0",
    "shellingham >= 1.5.3, < 2.0.0",
    "typer >= 0.12.0, < 0.13.0",
    "west >= 1.2.0, < 2.0.0",
]
dynamic = ["version"]

[project.urls]
Documentation = "https://zmk.dev/docs"
"Source Code" = "https://github.com/zmkfirmware/zmk-cli/"
"Issue Tracker" = "https://github.com/zmkfirmware/zmk-cli/issues/"
Chat = "https://zmk.dev/community/discord/invite"

[project.scripts]
zmk = "zmk.main:app"

[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[tool.isort]
profile = "black"

[tool.setuptools]
packages = ["zmk"]

[tool.setuptools_scm]
write_to = "zmk/_version.py"
