<%page args="node = '&gpio0'" />
&kscan {
    // Replace these comments with the GPIO pins in the matrix for the left side.
    // See https://zmk.dev/docs/development/new-shield#shield-overlays
    col-gpios
        = </* ${node} 0 */ GPIO_ACTIVE_HIGH>
        , </* ${node} 0 */ GPIO_ACTIVE_HIGH>
        ;
};