&default_transform {
    // Set this to the number of columns on the left side.
    col-offset = <2>;
};

&kscan {
    // Replace these comments with the GPIO pins in the matrix for the right side.
    // See https://zmk.dev/docs/development/hardware-integration/new-shield#shield-overlays
    col-gpios
        = <${gpio} 0 GPIO_ACTIVE_HIGH>
        , <${gpio} 0 GPIO_ACTIVE_HIGH>
        ;
};