if BOARD_${id.upper()}

config ZMK_KEYBOARD_NAME
    default "${shortname}"

if USB

config USB_NRFX
    default y

config USB_DEVICE_STACK
    default y

endif # USB

config BT_CTLR
    default BT

endif # BOARD_${id.upper()}
